@import 'my_variables.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/bootstrap-vue/src/index.scss';
// @import '../../assets/scss/video-js.css';

@font-face {
  font-family: "Barlow-Regular";
  src: url("/fonts/EAG - WEB Fonts/SUB MENU and NFT INFO font/Barlow/Barlow-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow-Bold";
  src: url("/fonts/EAG - WEB Fonts/SUB MENU and NFT INFO font/Barlow/Barlow-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Orbitron-Regular";
  src: url("/fonts/EAG - WEB Fonts/NAV and MENU font/Orbitron/Orbitron-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("/fonts/EAG - WEB Fonts/BODY COPY font/Poppins/Poppins-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("/fonts/EAG - WEB Fonts/BODY COPY font/Poppins/Poppins-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

html, body {
  height: 100%;
  font-size: 16px;
  color: $primary;
  letter-spacing: 0.05rem;
}

/** - footer styles ------------------------------------------------- **/
.footer1 {
  font-family: 'Barlow-Bold';
  text-transform: uppercase;
  font-size: 0.625rem;
  color: #999;
}
.footer2 {
  font-family: 'Barlow-Regular';
  text-transform: capitalise;
  font-size: 0.625rem;
  color: #999;
  letter-spacing: 0.05rem;
}
/** --------------------------------------------------------------- **/
/** - nav bar styles ------------------------------------------------- **/
#wallet-dd-home {
  font-family: 'Orbitron-Regular';
  text-transform: uppercase;
  font-size: 0.6875rem;
  color: #666;
}
#wallet-dd-home {
  color: $info;
}
#wallet-dd-home .dropdown-menu {
  background-color: #000;
}
#wallet-dd-home .dropdown-item {
  color: $info;
  font-size: 0.6875rem;
}
#wallet-dd-home .dropdown-item:hover {
  color: #000 !important;
  background-color: $info;
}
#wallet-dd {
  font-family: 'Orbitron-Regular';
  text-transform: uppercase;
  font-size: 0.6875rem;
  color: #666;
  letter-spacing: 0.2rem;
}
#wallet-dd .dropdown-menu {
  background-color: #fff;
  font-size: 0.6875rem;
  color: #666;
}
#wallet-dd .dropdown-item {
  background-color: transparent;
  font-size: 0.6875rem;
  color: #666;
}
#wallet-dd .dropdown-item:hover {
  background-color: #000;
  color: #fff !important;
}
/** --------------------------------------------------------------- **/
/** - Collection Navs --------------------------------------------- **/
#col-nav {
  font-family: 'Orbitron-Regular';
  text-transform: uppercase;
  font-size: 0.6875rem;
  color: #666;
}
#col-nav a {
  color: #666;
}
#col-nav .dropdown-item {
  background-color: transparent;
  font-size: 0.6875rem;
  color: #666;
}
/** --------------------------------------------------------------- **/

select {
  background: #fff!important;
  border-radius: 0px!important;
}

.btn {
  border-radius: 0px!important;
}

input {
  border-radius: 0px!important;
}

/** - Popup menu navs --------------------------------------------- **/
.my-popover-class {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0pt solid #000;
  position: relative;
  top: 0px;
  left: 0px;
}
.sub-menu {
  font-family: 'Barlow-Regular';
  font-size: 0.7875rem;
  color: #666;
}
.popover .arrow:after, .popover .arrow:before {
  position: absolute;
  display: none;
  content: "";
  border-color: transparent;
  border-style: solid;
}/** --------------------------------------------------------------- **/

#home-page a {
  color: $info;
}
#home-page a:hover {
  color: $warning;
  text-decoration: none;
}
a {
  color: $gray-500;
}
a:hover {
  color: $dark;
  text-decoration: none;
}

.icon {
  width: auto;
  height: 1.1rem;
}
.text-lower {
  text-transform: lowercase;
}
.text-upper {
  text-transform: uppercase;
}
.collection-image {
  border: 12px solid #fff;
  border-radius: 4px;
  padding: 5px;
  width: auto;
  height: 400px;
}

.eag-header {
  text-transform: uppercase;
  font-size: 22pt;
  font-family: 'Barlow-Regular';
}

.my-nft-image {
  border: 12px solid #fff;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  height: auto;
}

.collection-image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.center {
  margin: auto;
  width: 70%;
  border: 0px solid green;
  padding: 10px;
}
@media only screen and (max-width: 900px) {
  .center {
    width: 85%;
  }
}
.my-tooltip-class > div {
  padding: 10px 20px;
}
.capitalize {
  text-transform: capitalize;
}
.text-900 {
  font-weight: 900;
}
.text-700 {
  font-weight: 700;
}
.text-300 {
  font-weight: 300;
}
.text-100 {
  font-weight: 100;
}
.text-dark {
  color: $dark;
}
.text-white {
  color: #fff;
}
.bg-darkish {
  background-color: #666;
}
.text-small {
  font-size: 0.8rem;
}
.text-xsmall {
  font-size: 0.7rem;
}
.hash1-image {
  width: 100%;
  border-radius: 0%;
}
.text-description {
  font-family: 'Barlow-Regular';
  font-size: 14pt;
  letter-spacing: 2pt;
  letter-spacing: 0.1rem;
}
#asset-details .hash1-image {
  border: none;
}
.item-image {
  height: auto;
  width: 100%;
  border: 0pt solid $danger;
  align-items: center;
}
.item-image-preview {
  height: auto;
  width: 100%;
  border: 0pt solid $danger;
  align-items: center;
}
.pointer {
  cursor: pointer;
}

::placeholder {
  color: #e2e2e2 !important;
}

/** - modals ------------------------------------------------- **/
.modal-dialog {
  width: 80%;
}
#purchase-modal .modal-body {
  background-color: #fff;
  text-align: left !important;
}
#purchase-modal .modal-content {
  color: #000;
}
#purchase-modal .modal-dialog {
  background-color: #fff;
  color: #000;
  text-align: left !important;
}
#purchase-modal .modal-footer {
  display: none;
}
#purchase-modal .modal-header {
  display: none;
}
#minting-modal .modal-content {
  border: none !important;
  background-color: transparent !important;
}
#minting-tools  .nav-link.active {
  color: #000;
}
#minting-tools .nav-link:hover {
  color: #ccc;
}
#minting-modal .modal-footer {
  display: none;
}
#minting-modal .modal-header {
  display: none;
}
#minting-modal .card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
#minting-modal .card-footer {
  padding: 20px;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
#minting-modal .card {
  border: none;
}
/** -------------------------------------------------- **/
/** - Payment Modal ------------------------------------------------- **/
#stacks-address-modal .modal-content {
  border: none !important;
  background-color: transparent !important;
}
#stacks-address-modal .modal-footer {
  display: none;
}
#stacks-address-modal .modal-header {
  display: none;
}
#in-flight-modal .modal-content {
  border: none !important;
  background-color: transparent !important;
}
#in-flight-modal .modal-footer {
  display: none;
}
#in-flight-modal .modal-header {
  display: none;
}
#payment-modal .modal-content {
  border: none !important;
  background-color: transparent !important;
}
#payment-modal .modal-footer {
  display: none;
}
#payment-modal .modal-header {
  display: none;
}
/** -------------------------------------------------- **/




/** payments --------------------------------------------**/
#payment-modal {
  font-family: 'Barlow-Regular';
}
#payment-modal .text-danger {
  color: $info !important;
}
.text-payments {
  color: $secondary;
}
.btn-payments {
  color: $info;
  border-color: $info;
  background-color: $secondary;
}
.btn-asset-details {
  background-color: #b3b3b3 !important;
  color: #fff !important;
  border: none!important;
}
.btn-outline-payments {
  color: $secondary;
  border-color: $secondary;
}
input {
  color: #000 !important;
}
.card-input-wrapper {
  color: #000 !important;
}
#card-number-wrapper input {
  padding: 0 16px 0 68px;
  color: #000 !important;
}


/** -------------------------------------------------- **/




/** paging **/
.page-item .page-link {
  background-color: #fff !important;
  border-color: #fff !important;
  color: $primary !important;
}
.page-item:first-child .page-link {
  border-color: #fff !important;
  background-color: #fff !important;
  color: $primary !important;
}
.fake-input input {
  color: white!important;
}
.fake-input {
  min-width: 400px;
  position: absolute;
  top: -2000px;
  background-color: $white;
  border: white;
  color: white!important;
  letter-spacing: 0.1rem;
}
.fake-input:focus {
  border: $white;
  color: $white;
}
.fake-input:focus-visible {
  border: none;
  color: $white;
}
/** ---- Notification styles ------------------------------------------------------ **/
.vue-notification-template {
  background: none;
}
.r-notifs {
  padding: 7px 5px !important;
  margin: 1px 1px 0px 1px !important;
  font-size: 1.0rem !important;
  background: $light !important;
  color: #fff !important;
}
.success {
  background: $success !important;
}
.error {
  background: $danger !important;
}
.danger {
  background: $danger !important;
}
.warning {
  background: $warning !important;
}
/** ---------------------------------------------------------- **/
.collection-listing {
  margin: auto 0;
  background-color: #fff;
}
.collection-listing-panel {
  position: relative;
  bottom: 0;
  top: 40%;
}
ul.pagination {
  margin: 5 0 !important;
}

.coll-header {
  font-size: 18pt;
  font-family: 'Poppins-Medium';
}
.coll-body {
  font-size: 14pt;
  font-family: 'Barlow-Regular';
}